$c-principal: #0C2C44;
$c-secundario: #E62638;

$c-button-background: #0C2C44;
$c-button-border: 0px;
$c-button-border-radius: 0px;

$c-button-background-hover: #6BA2CC;
$c-button-border-hover: 0;


$c-blanco: #ffffff;
$c-negro: #000000;
$c-gris: #999999;
$c-grisClaro: #EBEBEB;
$c-grisOscuro: #333333;


$c-tipografia: "Montserrat","Ubuntu", sans-serif;
$font: "Montserrat","Ubuntu", sans-serif;
$c-font-size: 30px;

$primary: #007934;
$gray1:#F5F5F5;
$whiteFE: #FEF8F1;
$gray4:#CCCCCC;
$grayDark:#7A7D78;
$greenDark: #090F05;
$orange:#EE8411;
$black0: #000;
$maxWidthHome: 1297px;
$discountValue: #EE3211;

/* MIXIN */

@mixin tablet__1285{
    @media (max-width: 1285px) {
        @content;
    }
}

@mixin tablet__1325{
    @media (max-width: 1325px) {
        @content;
    }
}

@mixin tablet__1245{
    @media (max-width: 1245px) {
        @content;
    }
}

@mixin tablet__1200{
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin mobile__640{
    @media (max-width: 640px) {
        @content;
    }
}

@mixin mobile__460{
    @media (max-width: 460px) {
        @content;
    }
}

@mixin mobile__750{
    @media (max-width: 750px) {
        @content;
    }
}

@mixin mobile__430{
    @media (max-width: 430px) {
        @content;
    }
}

@mixin mobile__1024{
    @media (max-width: 1024px) {
        @content;
    }
}
