.groupContainer {
	margin: 0;
	.badgeContainer--unidades {	
		.badgeText {
			background: #fff;
			color: #009042;
			border-radius: 12px;
			border: 1px solid #009042;
			font-weight: 700;
			font-size: 20px;
			width: auto;
			height: 40px;
			line-height: 40px;
			margin: 0;
			padding: 0 10px;
		}
	}
}
