
@font-face {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  src:  local("Ubuntu"), local("Ubuntu-Bold"),
        url("assets/fonts/Ubuntu-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  src:  local("Ubuntu"), local("Ubuntu-Regular"),
  url("assets/fonts/Ubuntu-Regular.ttf") format("ttf");
}
