@import "../variables";

/* .productHighlightWrapper {
  .productHighlightText[data-highlight-type="collection"] {
    background: $c-principal;
    font-weight: 600;
    font-size: 12px;
    width: auto;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    float: left;
    color: $c-blanco;
    border-radius: 0;
  }
  .productHighlightText[data-highlight-type="teaser"] {
    background: $c-principal;
    font-weight: 600;
    font-size: 12px;
    width: auto;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    float: left;
    color: $c-blanco;
    border-radius: 0;
  }
} */