@import "../variables";

.imageElement--redes__sociales{
	display: block;
	margin: auto;
	transform: scale(1);
    transition: all 0.2s ease-in-out;
	&:hover{
		transform: scale(1.125);
	}
}

@media (width<=970px) {
	.imageElement--Logo__footer__{
		display: block;
		margin: auto;
	}
}