

.wishlistIconContainer--img__whl{
    display: flex;
    justify-content: end;

    :global(.vtex-button__label){
        padding-left: 0.125rem !important;
        padding-right: 0.125rem !important;
    }
    .outline{
        height: 24px;
        width: 24px;
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAzLjk0MkMxMy4xNzEyIDIuODU2ODIgMTQuNzA4MyAyLjI1MjcgMTYuMzA1IDIuMjVDMTguMDMxIDIuMjUgMTkuNjc5IDIuOTYgMjAuODg1IDQuMjFDMjIuMDg1MSA1LjQ2MSAyMi43NTM2IDcuMTI4NDUgMjIuNzUgOC44NjJDMjIuNzUzNiAxMC41OTU1IDIyLjA4NTEgMTIuMjYzIDIwLjg4NSAxMy41MTRDMjAuMDg5IDE0LjMzOSAxOS4yOTQgMTUuMTg0IDE4LjQ5NSAxNi4wMzJDMTYuODcxIDE3Ljc1NiAxNS4yMyAxOS40OTkgMTMuNTI1IDIxLjE0TDEzLjUyMiAyMS4xNDRDMTMuMDk4NyAyMS41NDQ5IDEyLjUzNDIgMjEuNzYyNSAxMS45NTEzIDIxLjc0OTZDMTEuMzY4NCAyMS43MzY3IDEwLjgxNDIgMjEuNDk0MyAxMC40MDkgMjEuMDc1TDMuMTEzOTkgMTMuNTE0QzAuNjI4OTk0IDEwLjkzNyAwLjYyODk5NCA2Ljc4NyAzLjExMzk5IDQuMjExQzQuMjYyNiAzLjAwNzQxIDUuODM4ODggMi4zMDQ0IDcuNTAxODIgMi4yNTQwNkM5LjE2NDc3IDIuMjAzNzIgMTAuNzgwNyAyLjgxMDA5IDEyIDMuOTQyWiIgZmlsbD0iI0MyQzNDMSIvPgo8L3N2Zz4=');
    }
    .fill{
        height: 24px;
        width: 24px;
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiBmaWxsPSIjMDA3OTM0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KICAgIDxwYXRoIGQ9Ik0zNjIuNjcsMjEuMzNBMTQ5LDE0OSwwLDAsMCwyNTYsNjYuMTksMTQ5LDE0OSwwLDAsMCwxNDkuMzMsMjEuMzNDNjcsMjEuMzMsMCw4OC4zMiwwLDE3MC42N2ExNDguNDUsMTQ4LjQ1LDAsMCwwLDQzLjA4LDEwNC45TDI0MC41MSw0ODRhMjEuMzMsMjEuMzMsMCwwLDAsMzEsMEw0NjguNzUsMjc1Ljc0QTE0OC40NSwxNDguNDUsMCwwLDAsNTEyLDE3MC42N0M1MTIsODguMzIsNDQ1LDIxLjMzLDM2Mi42NywyMS4zM1oiLz4KPC9zdmc+Cg==') !important;
    }
}